$skyline-blue: #71afe5;
$muted-red: #c53030;
$light-gray: #e0e0e0;
$font-family: "Roboto", sans-serif;

@mixin box-shadow($color, $size: 10px) {
  box-shadow: $size $size 5px 0px $color;
}

@mixin transition($properties: all, $duration: 0.3s, $easing: ease-in-out) {
  transition: $properties $duration $easing;
}

body {
  font-family: $font-family;
  color: #333;
}

.App {
  background-color: $skyline-blue;
  height: 100vh;
  padding: 25px 0;
  overflow-y: auto;

  .mainHeader {
    text-align: center;
    margin-bottom: 15px;
  }

  .formComponentMainHeader {
    text-align: center;
    margin-bottom: 30px;
  }

  .container {
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .errorText {
    color: $muted-red;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
  }

  .formGroup {
    margin-bottom: 20px;

    .formLabel {
      font-weight: bold;
    }

    input,
    select,
    textarea,
    .form-control {
      @include box-shadow(rgba(0, 0, 0, 0.75));
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      @include transition();

      &:focus {
        @include box-shadow($skyline-blue, 0px);
        border-color: $skyline-blue;
        outline: none;
      }
    }
  }

  .submitButton {
    margin-top: 15px;
    align-self: center;
  }

  .searchTermContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 50px;

    p {
      font-size: 1.2rem;
      font-weight: 900;
      text-align: center;
    }

    h6 {
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      margin-top: 10px;

      em {
        font-style: italic;
      }
    }
  }

  .controlsContainer {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 25px;
    max-width: 300px;
    padding: 20px;

    .playButton,
    .pauseButton {
      height: 50px;
      width: 50px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        background-color: lighten($skyline-blue, 30%);
        @include transition(transform);
      }

      &:focus {
        outline: 2px solid darken($skyline-blue, 20%);
        outline-offset: 2px;
      }
    }
  }

  @media (max-width: 768px) {
    .controlsContainer {
      row-gap: 10px;

      .playButton,
      .pauseButton {
        height: 40px;
        width: 40px;
      }
    }
  }
}
