$light-blue: #71afe5;

.App {
  background-color: $light-blue;
  height: 100vh;
  padding-top: 25px;
}

.mainHeader {
  text-align: center;
}

.formComponentMainHeader {
  text-align: center;
  margin-bottom: 25px;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
}

.searchTermContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-self: center;
  margin-top: 20px;

  h4 {
    font-weight: 900;
  }
}
